@import "tailwindcss";

:root {
  --background: #0f172b;
  --foreground: #94a3aa;
  --primary: #faae53;
  --secondary: #a41034;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover {
  color: var(--primary);
}

a:hover {
  color: var(--primary);
}
